*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

p {
  font-size: 1.35rem;
}

header {
  margin: 1.5rem;
  min-height: 525px;
  background-color: orange;
  color: white;
  text-align: center;
  position: relative;
}

.hero-items {
  position: relative;
  width: 100%;
  height: 525px;
  top: 0;
}

.hero-item {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
}

.hero-item.is-active {
  opacity: 1;
  visibility: visible;
}

h1 {
  font-size: 6rem;
  padding: 1.3rem;
}

h2 {
  font-size: 2.5rem;
  padding: 0.75rem;
}

.btn {
  font-size: 1.4rem;
  margin: 2rem;
  background-color: white;
  display: inline-block;
  border-radius: 10rem;
  padding: 1.15rem 3rem;
  border: none;
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  color: rgb(75, 71, 71);
  transform: scale(1.1);
}

.container {
  display: flex;
  gap: 3rem 1rem;
  padding: 1.5rem;
  margin: 20px auto;
}

article.hero-trigger-item {
    height: 200px;
    width: 25vw;
}

.hero-trigger-item {
  margin: 10px 7x;
  min-height: 200px;
  min-width: 60px;
  cursor: pointer;
}

.btn {
  cursor: pointer;
  transition: all 300ms ease;
}

.hero-trigger-item-1 {
  background-color: orange;
}

.hero-trigger-item-2 {
  background-color: blue;
}

.hero-trigger-item-3 {
  background-color: black;
}

.hero-trigger-item-4 {
  background-color: seagreen;
}

.hero-item-1 {
  background-color: orange;
}

.hero-item-2 {
  background-color: blue;
}

.hero-item-3 {
  background-color: black;
}

.hero-item-4 {
  background-color: seagreen;
}

.lightbox-overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  z-index: -10;
}

/* OPEN/CLOSE LIGHTBOX */
.open-lightbox {
  visibility: visible;
  z-index: 10;
}
.lightbox-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background: orange;
  border-radius: 3px;
  width: 70vw;
  min-height: 50vh;
  text-align: center;
  position: relative;
}

.lightbox-items {
  padding: 2rem;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: rgb(226, 28, 28);
  cursor: pointer;
}
.close-btn:hover {
  color: rgb(223, 68, 68);
  transform: scale(1.3);
}
